<<<<<<< HEAD
=======
.word{
	background-color: white;
	margin:5px 10px 0px -10px;
	height: 500px;
	overflow-y: hidden;

	font-family: "Roboto";

}
.word_b{
	background-color: var(--halfg);
	height: 100vh;
}
.block3{
	display: block;
	margin-top: 10px;
}
.block2{
	display: block;
	margin-top: 40px;
	}
.block2:after{
	display: block;
	content: "";
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	height: 5px;
	background-color: var(--blue);
	transform: translateY(20px);
		border-radius:15px 15px 15px 15px;
}
.block3:after{
	display: block;
	content: "";
	margin-left: 10px;
	margin-right: 10px;
	height: 5px;
	background-color: var(--blue);
	transform: translateY(20px);
		border-radius:15px 15px 15px 15px;
}
.block4{
	display: block;
	margin-top: 40px;
	
}
.block4:after{
	display: block;
	content: "";
	margin-left: 10px;
	width: 170px;
	height: 5px;
	background-color: var(--blue);
	transform: translateY(20px);
		border-radius:15px 15px 15px 15px;
}.block5{
	display: block;
	margin-top: 40px;
	
}
.block5:after{
	display: block;
	content: "";
	margin-left: 10px;
	width: 120px;
	height: 5px;
	background-color: var(--blue);
	transform: translateY(20px);
		border-radius:15px 15px 15px 15px;
}
.bl_txt{
 text-transform: capitalize;
 float: left;
 display: block;
 color: black;

 margin-left: 10px;
}
.bl_count{
font-size: 10px;
 float: right;
 display: block;
 margin-right: 15px;
 color: var(--grey);
 background-color: var(--halfg);
 	border: 1px solid var(--halfg);
	border-radius:15px 15px 15px 15px;
	padding:0px 10px 0px 10px;

}

/* Новыйе слтили 10.05.2018 */

>>>>>>> parent of da298f0... Работа над структурой html и css
.ns_important_words{
	padding: 15px;
	border-radius: 2px;
	background: #ffffff;
	height: 100%;
}

.header_block_important_words{
	padding-bottom: 10px;
	border-bottom: solid 1px var(--halfg);
	margin-bottom: 10px;
}

<<<<<<< HEAD
.ns_important_words .important_word:last-child{
	margin-bottom: 0px;
}

.important_word{
	margin-bottom: 15px;
}

.important_word_container{
	display: flex;
	justify-content: space-between;
}

.important_word_name{
	font-size: 14px;
	color: var(--black);
}

.important_word_quantity{
	font-size: 10px;
	color: var(--grey);
	padding: 1px 7px;
	background: var(--halfg);
	border-radius: 15px;
	height: 16px;
}

.important_word .progress{
	height: 5px;
	margin-top: 5px;
}

.important_word .progress-bar{
	width: 50%;
	background-color:  var(--blue);
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}

.none{
	display: none;
=======
>>>>>>> parent of 971eda2... Блок 12 важных слов
=======
>>>>>>> parent of da298f0... Работа над структурой html и css
=======
>>>>>>> parent of da298f0... Работа над структурой html и css
=======
>>>>>>> parent of da298f0... Работа над структурой html и css
}