.ns_important_words{
	width: 265px;
	padding: 15px;
	border-radius: 2px;
	background: #ffffff;
}
.header_important_words{
	margin-bottom: 7px;
	border-bottom: solid 1px var(--grey);
	padding-bottom: 10px;
	line-height: 19px;
}

.important_word{
	margin-bottom: 8px;
}

.important_word:last-child{
	margin-bottom: 0;
}

.header_text_important_words{
	display: block;
	color: var(--black);
}

.important_word_container{
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	align-items: center;
}

.important_word_name{
	font-size: 14px;
	color: var(--black);
	line-height: 17px;
}

.important_word_quantity{
	font-size: 10px;
	color: var(--grey);
	padding: 1px 7px;
	background: var(--halfg);
	border-radius: 15px;
	height: 16px;
}

.important_word .progress{
	height: 5px;
}

.important_word .progress-bar{
	width: 50%;
	background-color:  var(--blue);
}

.none{
	display: none;
}
