.ns_important_words{
	width: 265px;
	padding: 15px;
	border-radius: 2px;
	background: #ffffff;
	height: 100%;
}

.header_block_important_words{
	padding-bottom: 10px;
	border-bottom: solid 1px var(--halfg);
	margin-bottom: 10px;
}

<<<<<<< HEAD
.ns_important_words .important_word:last-child{
	margin-bottom: 0px;
}

.important_word{
	margin-bottom: 15px;
}

.important_word_container{
	display: flex;
	justify-content: space-between;
}

.important_word_name{
	font-size: 14px;
	color: var(--black);
}

.important_word_quantity{
	font-size: 10px;
	color: var(--grey);
	padding: 1px 7px;
	background: var(--halfg);
	border-radius: 15px;
	height: 16px;
}

.important_word .progress{
	height: 5px;
	margin-top: 5px;
}

.important_word .progress-bar{
	width: 50%;
	background-color:  var(--blue);
}

.none{
	display: none;
=======
>>>>>>> parent of 971eda2... Блок 12 важных слов
}