.menu{
height: 100vh;
padding: 0;
background-color: white;
font-family: "Roboto";
}
.menu:after{
	display: block;
	content: "";
	border-right: 1px solid var(--halfg);
 height: 100vh;
	}
#first_block{
margin:0;
margin-top: 5px;
padding-bottom: 5px;
position: fixed;

}
#name_a{
	margin-left: 15px;
	position: fixed;

}
#name_company{
	top: 4px;  
	font-size: 14px;
	text-transform: capitalize;
	font-style: bold;
	margin-left: 15px;
	display: inline-block;
	height: 20px;
}
#name_hide{
position: fixed;
text-transform: capitalize;
font-style: bold;
margin-left: 3px;

}
#line{

}
#main_menu{
	}
#category_list{
	list-style-type: none;
	margin:80px 10px 10px 15px;
	padding: 0;
	position: fixed;
	
	}
#category_list li{
	margin-left: 0px;
	margin-top: 10px;
	width: 100vh;
}
#category{
	
	text-transform: capitalize;
	color: var(--grey);
	font-size: 10px;
	display: inline-block;
}
#category:hover{
	color: var(--blue);
	text-decoration: none;
	}
#category:hover span{
	color: black;
	font-weight: bold;
	}
.text_menu{
	margin-left: 10px;
	font-size: 14px;
	float: right;
	display: block;
}
.texts_menu{
	display: block;
font-size: 14px;
margin-left: 25px;
}
.icon_menu{

	margin-right: 7px;
}
.icons_menu{
	display: block;
	position: relative;
	top: 20px;
}
#menu_bot{
	
	position: fixed;
	bottom: 0px;

}

#set{
	margin-left: 10px;
	border-bottom: 1px solid var(--halfg);
	width: 190px;
	padding-bottom: 10px;
}
#icon_hide{
	
	float: right;
	color: blue;
	margin-bottom: 20px;
}
#button_hide{
	width: 15px;
	height: 15px;
	margin-right: 5px;
}
#button_show{
	margin-top: 5px;
	display: none;
	width: 15px;
	height: 15px;
	margin-right: 5px;
	color: white;
	background-color: var(--blue);
	border-radius:50px 50px 50px 50px;
}