.me
.first_one{
	height: 645px;
	background: linear-gradient(to right, #3F87F5,#68C2ED);
	overflow:hidden;

	}
.first_one li{
	list-style-type: none;
	display: inline-block;
	}
	#back{
width: 100%;
position: absolute;	
left:0;
top: 0;
}
#back3{	
width: 100%;
position: absolute;	
left:0;
top: 0;
}
#logo{
	margin-left: 80px;
	margin-top:20px;
	float: left;
	z-index: 1;
}
#logo img{
    width: 135px;
	height: 60px;
}
#enter{
	margin-top:25px;
    display: block;
    width: 200px;
	margin-right: 25px;
	border: 1px solid #ED6868;
	border-radius:15px 15px 15px 15px;
	padding: 15px 10px 15px 10px;
    float: right;
    background-color: #ED6868;
	height: 25px;
}
#enter_text{
    color: white;
    position: relative;
    text-decoration: none;
    top: -10px;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	font-size: 14px;
}
#enter_text:hover{
	color: var(--halfg);
}
#top_up{
float: right;
margin-top: 32px;
margin-right: 70px;
}
#top_text{
color: white;
text-decoration: none;
	font-weight: 300;
letter-spacing: 1px;
font-size: 14px;
}

/*
	Big Text inside first part
*/
.down{
	margin-top: 250px;

}
.down li{
	display: list-item;
}
#big{
	color: white;
	font-size: 44px;
}
#sma_tx{
margin-top: 40px;

}
#sma{
font-size: 20px;

	color: #E0E0E0;
	font-weight: 300;
	letter-spacing: 1px;
}

#block_in{
	height: 200px;
	margin-top: -100px;
	background-color: white;
	box-shadow: 1px 1px 10px  rgba(0,0,0,0.5);
}
#block_in li{
	list-style-type: none;
	}
.block_pr1{
	text-align: center;
	margin-top:50px;
	
}
.block_pr1:after{
	display: block;
	content: "";
	height: 120px;
	margin-top: -100px;
	border-right: 2px solid var(--grey);
}
.block_pr2{
	text-align: center;
	margin-top:50px;
}
.block_pr2:after{
	display: block;
	content: "";
	height: 120px;
	margin-top: -100px;
	border-right: 2px solid var(--grey);
}
.block_pr3{
	text-align: center;
	margin-top:50px;
}
#block_big{
	font-size: 40px;
	
}

/*
 		First and half section of page ---------------------------------------------------
*/
.first_half{

	height: 730px;
	background-color: white;
}
#el_fi{
	margin-top: 100px;
	position: relative;
	
	margin-left: 70px;
}
.el_fig{
	display: block;
	position: relative;
	left:150px;

}
#sys_h{
	position: relative;
	overflow: visible;
	white-space: pre-line;
	margin-top: 120px;
	font-size: 32px;
	right: 12px;
}
#sys_hy{
	position: relative;
	overflow: visible;
	white-space: pre-line;
	margin-top: 140px;
	font-size: 32px;
	right: 12px;
}
#sys_a{
	width: 380px;
	height: 100px;
	margin-top: 20px;
font-size: 16px;
white-space: normal;
}
#know{ 
	position: relative;
	display: block;
	top: 35px;
	width: 200px;
	height: 35px;
	transition: 0.5s;
	border-radius:5px 5px 5px 5px;
	padding:0px 10px 0px 10px;
	color: white;
	background: linear-gradient(to right, var(--blue), #68C2ED);
	text-transform: capitalize;
	font-weight: normal;
	text-decoration: none;
}
#kn_a{
	margin-top: -17px;
 float: right;


}
#kn_text{
	display: block;
	color: white;
	padding-top:7px;
	font-weight: lighter;
}
#hlf_img{
	margin-top: 100px;
}
/*
 		Second section of page ---------------------------------------------------
*/


.second{
	height: 645px;
	background-color: var(--east);
}
.little{
	display: flex;
	flex-direction: row;
	 justify-content: space-between;
}
.little li{
	text-transform: capitalize;
	color: var(--grey);
	list-style-type: none;
	margin:35px 35px 0px 35px;
}
.part_img{
	display: flex;
	flex-direction: row;
	 justify-content: center;
	right: 100px;
	
	 height: 450px;
}
.part_img li{
	color: var(--black);
	list-style-type: none;
	margin:20px 35px 0px 35px;
}
#img_el{
		margin-top:125px;
		width:275px;
		box-shadow: 1px 1px 10px  rgba(0,0,0,0.5);
		height: 380px;
		background-color: white;

}
#img_h{
	font-size: 20px;
margin-left: 10px;
}
#img_p{
margin-left: 10px;
}
/*
	Third part and HALF -----------------------------
*/
.third_half{
	height: 700px;
	background: linear-gradient(to right, #3F87F5,#68C2ED);
	overflow:hidden;
}
#build{
	margin-top: 25px;
	margin-left: auto;
	margin-right: auto;
}
#half_hd{
	margin-top: 70px;

}
#half_hd h1{
	color: white;
	font-size: 32px;
	}

#back_t{
position: absolute;
}
#thlaf1 img{
	
	position: relative;
	width:900px;
	height: 400px;
}
#thlaf2 img{
	position: relative;
	width:900px;
	height: 400px;	
}
#thlaf3 img{
	position: relative;
	width:900px;
	height: 400px;	
}
#slid_cnt{
	margin-top: 25px;
	padding-bottom: 25px;
}
#slid_cnt a{
	display: inline-block;
	border-radius:5px 5px 5px 5px;
	padding:0px 10px 0px 10px;
	background-color: white;
	width: 50px;
	height: 32px;
	margin-left: 15px;
}
#slider{
	margin-top: 50px;
	overflow:hidden;
display: flex;
justify-content: space-around;
}
#arr_{
	display: block;
	position: absolute;
	top: 7px;
	margin-left:7px;
}
/*

	Third part ------------------------------------
*/
.third{
	background-image: url("back2.png");
	height: 600px;
	
}
#third{
	display: none;
}
#place{
	display: none;
	transition: 0.5s;
}
.third_half{
	list-style-type: none;
	display: flex;
	justify-content: center;
	flex-direction: column;
	}
#th_1{
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
}

#th_1 h1{
	font-size: 32px;
	color: white;
	font-weight: lighter;

}
#th_2{
	display: block;
	margin-top: 20px;
	
}
#th_2 span{
	color:var(--halfg);
	font-size: 16px;
}
#par2{
	display: block;
	position: relative;
	
}
#th_3{
	margin-top: 25px;
	
}
#th_3 input{
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid var(--dark);
	border-radius:15px 15px 15px 15px;
	padding:0px 10px 0px 10px;
	width: 300px;
	height: 45px;
	}
#th_4{
margin-top: 25px;
	
}
#th_4 input{
	margin-left: 10px;
	margin-right: 10px;
	
		border: 1px solid var(--dark);
	border-radius:15px 15px 15px 15px;
	padding:0px 10px 0px 10px;
	width: 300px;
	height: 45px;
}
#th_5{
margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
}
#th_5 input{
		border: 1px solid var(--dark);
	border-radius:15px 15px 15px 15px;
	padding:0px 10px 0px 10px;
	width: 620px;
	height: 45px;
}
#th_6{
margin-top: 25px;
	margin-right: auto;
	margin-left: auto;
}
#th_6 input{
		border: 1px solid var(--dark);
	border-radius:15px 15px 15px 15px;
	padding:0px 10px 0px 10px;
	width: 620px;
	height: 100px;
}

#th_7{
	margin-top:20px;
	margin-right: auto;
	margin-left: auto;
	color: var(--halfg);
	font-size: 12px;
	list-style-type: none;
	}
#th_8{
	margin-top:10px;
	list-style-type: none;
	color: white;

	display: block;
width: 200px;
border: 1px solid #ED6868;
border-radius:15px 15px 15px 15px;
padding: 15px 10px 15px 10px;
background-color: #ED6868;
height: 25px;
margin-left: auto;
	margin-right: auto;

}

#send{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	text-transform:capitalize;
	color: white;
	text-decoration: none;
	
    top: -10px;

	font-weight: 300;
	letter-spacing: 1px;


}
.footer{
    height: 180px;
	background-color: white;
}
.footer li{
    font-size: 12px;
	margin:0px 10px 0px 10px;
	list-style-type:  none;
	}
.footer li a{
	color: black;
}
.foot_part{
	margin-top: 75px;	
}
.foot_text{
display: block;
}
#foot_sp{
	white-space: nowrap;
}
#foot_img{
	display: block;
	position: relative;
}
#foot_img img{
	width: 140px;
	height: 60px;
}
/*
 --------------------------------------
*/

.cd-background-wrapper {
  overflow: hidden;
  perspective: 4000px;
}

.cd-floating-background {
  transform-style: preserve-3d;
}

.cd-floating-background img:first-child {
  transform: translateZ(50px);
}
